.Banner {
    height: 100%;
    background-color: #E5EFFE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}

.first {
    flex: 1 1 auto;
    z-index: 100;
}

.second {
    flex: 0 0 72px;
    z-index: 100;
}

.third {
    position: absolute;
    top: -80px;
    bottom: -80px;
    right: 0;
    left: 62%;
    border-top-left-radius: 70%;
    border-bottom-left-radius: 70%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #d3eaff;
    z-index: 10;
}
